.category {
    &__img {
        width: 331px;
        height: 314px;
        padding: 20px;
        background-color: #F9F8F8;
        border-radius: 30px;
        margin-bottom: 24px;
    }
    &__name {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
    }
}