@import '../../style/base/vars';

.newsletter {
    margin-bottom: 117px;
    &__inner {
        background-image: url(../Newsletter/newsletterBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 105px 71px;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        max-width: 357px;
        font-weight: 800;
        font-size: 50px;
        line-height: 59px;
        color: #FFFFFF;
    }

    &__form {
        &-input {
            background: #FFFFFF;
            border-radius: 16px;
            padding: 24px 23px 26px 23px;
            border: none;
            width: 349px;
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #ABABAB;
            }

        }
        &-btn {
            width: 220px;
            padding: 28px 65px;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF;
            background-color: $mainColor;
            border-radius: 16px;
            margin-left: 6px;

        }
    }
}