@import '../../style/base/vars';

.newsletter {
    margin-top: 10px;
    margin-bottom: 117px;
    &__inner {
        background-image: url(../Newsletter/newsletterBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 105px 71px;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        max-width: 357px;
        font-weight: 800;
        font-size: 50px;
        line-height: 59px;
        color: #FFFFFF;
    }

    &__form {
        display: flex;
        align-items: center;
        &-input {
            background: #FFFFFF;
            border-radius: 16px;
            padding: 24px 23px 26px 23px;
            border: none;
            width: 349px;
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #ABABAB;
            }

        }
        &-btn {
            width: 220px;
            padding: 28px 65px;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF;
            background-color: $mainColor;
            border-radius: 16px;
            margin-left: 6px;

        }
    }
}

@media (max-width: 1220px) {
    .newsletter {
        margin-bottom: 117px;
        &__inner {
            padding: 90px 42px;
        }
    
        &__form {
            &-input {
                width: 270px;
            }
            &-btn {
                width: 200px;
    
            }
        }
    }
}

@media (max-width: 1100px) {
    .newsletter {
        margin-bottom: 117px;
        &__inner {
            padding: 90px 42px;
            flex-direction: column;
        }

        &__title {
            max-width: 100%;
            margin-bottom: 20px;
        }
    
        &__form {
            &-input {
                width: 300px;
                padding: 17px 23px;
            }
            &-btn {
                width: 200px;
                padding: 19px 45px;
    
            }
        }
    }
}

@media (max-width: 860px) {
    .newsletter {
        margin-bottom: 57px;
        &__inner {
            padding: 60px 35px;
        }
        &__title {
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }

        &__form {
            &-input {
                width: 250px;
            }
            &-btn {
                width: 150px;
                text-align: center;
                padding: 19px 25px;
            }
        }
    
    }
}

@media (max-width: 500px) {
    .newsletter {
        &__inner {
            padding: 32px 35px;
        }
        &__title {
            font-size: 30px;
            line-height: 39px;
        }

        &__form {
            &-input {
                width: 190px;
                padding: 15px 20px;
                &::placeholder {
                    font-size: 15px;
                }
            }
            &-btn {
                width: 110px;
                text-align: center;
                padding: 15px 18px;
                font-size: 15px;
            }
        }
    
    }
}
