@mixin _1120 {
    @media (max-width: 1120px){
        @content;
    }
}

@mixin _700 {
    @media (max-width: 700px){
        @content;
    }
}

@mixin _520 {
    @media (max-width: 520px){
        @content;
    }
}

@mixin section__subtitle {
    font-family: 'Yellowtail', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
}

@mixin section__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 59px;
    @include _1120 {
        font-size: 42px;
        line-height: 51px;
    }

    @include _520 {
        font-size: 38px;
        line-height: 46px;
    }
}

@mixin main-button {    
    border-radius: 16px;
    width: 220px;    
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;    
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 28px 39px;
    position: relative;
    p {
        padding-right: 29px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../../images/linkArrow.svg);
            width: 19px;
            height: 19px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }

    @include _700 {
        width: 200px;
        padding: 25px 32px 25px 28px;
        text-align: center;
    }
}

