@import '../../style/base/vars';
@import '../../style/base/mixins';

.product-card {
    display: block;
    max-width: 335px;
    min-width: 200px;
    padding: 29px 26px 17px 30px;
    background-color: $backgroundColor;
    border-radius: 30px;
    text-align: left;
    position: relative;
    &__tag {
        margin-bottom: 13px;
        display: inline-block;
        color: #fff;
        background-color: $mainColor;
        padding: 5px 12px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        border-radius: 8px;

    }
    &__img {
        padding-bottom: 100px;
    }

    &__about {
        position: absolute;
        bottom: 17px;
        left: 26px;
        right: 26px;
    }
    &__name {
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 13px;
    }
    &__details {
        border-top: 1px solid #DEDDDD;
        display: flex;
        align-items: center;
        padding-top: 9px;
    }
    &__price {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: $mainColor;
        margin-right: auto;
        
    }
    &__price.old {
        text-decoration: line-through;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #B8B8B8;
        margin-right: 8px;
    }
}


@media (max-width: 1420px) {
    .product-card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .product-card {
        width: 70%;
        margin: 0 auto;
    }
}