@import '../../style/base/vars';
@import '../../style/base/mixins';

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        fill: #FFAC0C;
    }
}