@import '../../style/base/vars';
@import '../../style/base/mixins';

.promo {
    background-image: url(./images/mainBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 120px);
    padding: 247px 0px;
    margin-bottom: 154px;
    &__subtitle {
        margin-bottom: 8px;
        @include section__subtitle;
        color: #68A47F;

    }

    &__title {
        font-weight: 800;
        font-size: 70px;
        line-height: 82px;
        margin-bottom: 23px;
        max-width: 530px;

    }

    &__link {
        @include main-button;
        background-color: $yellowColor;
        color: $mainColor;
        &-img {

        }

    }
}

.posters {
    margin-bottom: 190px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 36px;
    }
    &__item {
        padding: 109px 55px;
        border-radius: 30px;
        &-one {
            background-image: url(images/posters/poster-one.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            .posters__item-title,
            .posters__item-subtitle {
                color: #fff;
            }
        }
        &-two {
            background-image: url(images/posters/poster-two.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            .posters__item-subtitle {
                color: $greenColor;
            }
        }
        &-title {
            max-width: 278px;
            font-weight: 800;
            font-size: 40px;
            line-height: 47px;

        }
        &-subtitle {
            @include section__subtitle;
            margin-bottom: 5px;
        }
        
    }
}

.about {
    background-color: $backgroundColor;
    padding-top: 87px;
    padding-bottom: 113px;
    margin-bottom: 176px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
    &__img {
    }
    &__info {
        padding-top: 100px;
        &-subtitle {
            @include section__subtitle;
            color: $greenColor;
            margin-bottom: 8px;
        }
        &-title {
            @include section__title;
            margin-bottom: 14px;
        }
        &-text {
            margin-bottom: 46px;
        }
    }
    &__item {
        display: flex;
        width: 564px;
        margin-bottom: 30px;
        &-img {
            background-color: #fff;
            border-radius: 20px;
            margin-right: 19px;
            padding: 23px 21px;
            width: 100px;
            height: 100px;
            
        }
        &-info {
        }
        &-title {
            font-size: 25px;
            line-height: 29px;
            margin-bottom: 7px;
        }
        &-text {
        }
    }
    &__link {
        margin-top: 46px;
        @include main-button;
        background-color: $mainColor;
        color: #fff;
    }
}

.products {
    text-align: center;
    margin-bottom: 200px;
    &__title {
        @include section__title;
        margin-bottom: 40px;
        
    }

    &__subtitle {
        @include section__subtitle;
        margin-bottom: 8px;
        color: $greenColor;
    }

    &__items {
        margin-bottom: 122px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    &__btn {
        @include main-button;
        color: #fff;
        background-color: $mainColor;
        margin: 0 auto;
    }
}

.review {
    padding: 165px 0;
    background-image: url(images/review/reviewBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__inner {
        max-width: 1108px;
        margin: 0 auto;
    }
    &__subtitle {
        @include section__subtitle;
        text-align: center;
        color: $greenColor;
        margin-bottom: 8px;
    }
    &__title {
        @include section__title;
        text-align: center;
        margin-bottom: 60px;
    }
    &__slider {
        padding-bottom: 102px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 102px;

    }
    &__numbers {
        display: flex;
        justify-content: space-between;
    }
    &__number {
        width: 211px;
        height: 211px;
        text-align: center;
        border-radius: 50%;
        background-color: #F1F1F1;
        border: 5px solid #fff;
        outline: 5px solid $greenColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title {
            @include section__title;
        }
        &-text {
            font-weight: 600;
            color: $mainColor;
        }
    }
    
}

.offer {
    background-color: $mainColor;
    padding: 200px 0;
    &__top {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        @include section__subtitle;
        color: $greenColor;
    }

    &__title {
        @include section__title;
        color: #fff;
    }

    &__btn {
        @include main-button;
        background-color: $yellowColor;
        width: 256px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 21px;
    }
}

.eco {
    &__inner {
        display: flex;
    }
    &__img {
    }
    &__info {
        margin: 100px 0;
        padding: 78px 0px 78px 89px;
        max-width: 700px;
        border-radius: 30px;
        position: absolute;
        right: 89px;
        z-index: 2;
        background-color: #fff;
        &-subtitle {
            @include section__subtitle;
            color: $greenColor;
            margin-bottom: 8px;
        }
        &-title {
            @include section__title;
            margin-bottom: 35px;
        }
        .eco__item {
            margin-bottom: 35px;
            &-title {
                font-weight: 500;
                font-size: 25px;
                line-height: 29px;
                margin-bottom: 7px;
            }
            &-text {
            }
        }
    }
}








