.news-page {
    padding: 120px 0;
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 46px;
        grid-row-gap: 115px;
    }
}

@media (max-width: 1500px) {
    .news-page {
        &__items {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
        }
    }
}