@import '../../style/base/vars';
@import '../../style/base/mixins';

.license {
    padding: 70px 0 50px;
    &__inner {
    }
    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        &-title {
            font-weight: 800;
            font-size: 40px;
            line-height: 47px;
        }
        &-content {
            min-width: 70%;
            max-width: 70%;
        }
        &-text {
            margin-bottom: 20px;
            text-align: left;
            span {
                font-weight: 700;
            }
        }
        &-subtitle {
            font-weight: 800;
            font-size: 30px;
            line-height: 35px;
            margin-top: 45px;
            margin-bottom: 11px;
        }
    }
}

@media (max-width: 890px) {
    .license {
        &__item{
          flex-direction: column;
          &-title {
            text-align: center;
            margin-bottom: 20px;
          }
          &-content {
            max-width: 90%;
            margin: 0 auto;
          }
          &-subtitle {
            text-align: center;
            margin-bottom: 20px;
          }
        }
    }
}

