@import '../../style/base/vars';
@import '../../style/base/mixins';

.news-article {
    background-image: url(images/article2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 43px 32px;
    position: relative;
    border-radius: 30px;
    min-height: 524px;
    width: 677px;
    &__date {
        margin-bottom: 137px;
        background-color: #fff;
        border-radius: 50%;
        width: 82px;
        height: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 800;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: $mainColor;
    }
    &__info {
        padding: 46px 57px 60px 57px;
        background-color: #fff;
        box-shadow: 0px 20px 35px rgba(167, 167, 167, 0.25);
        border-radius: 31px 34px 30px 30px;
        position: absolute;
        bottom: -60px;
        width: 613px;
        &-author {
            margin-bottom: 15px;
            color: $mainColor;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            padding-left: 22px;
            position: relative;
            &::before {
                content: '';
                width: 18px;
                height: 18px;
                left: 0;
                background-image: url(images/author.svg);
                background-repeat: no-repeat;
                position: absolute;
            }
        }
        &-title {
            font-weight: 800;
            font-size: 25px;
            line-height: 29px;
            margin-bottom: 2px;
        }
        &-text {
            margin-bottom: 15px;
        }
        &-btn {
            @include main-button;
            background-color: $yellowColor;
        }
    }
}

@media (max-width: 790px) {
    .news-article {
        width: 80%;
        margin: 0 auto;
        min-height: 500px;
        &__info {
            width: 90%;
            padding: 30px 30px;
        }
    }
}

@media (max-width: 600px) {
    .news-article {
        min-height: 450px;
        &__info {
            width: 100%;
            &-btn {
                width: 170px;
                padding: 15px 28px;
            }
        }
    }
}


