@import '../../style/base/vars';
@import '../../style/base/mixins';

.changelog {
    padding: 73px 0 146px;
    &__content {
        max-width: 705px;
        margin: 0 auto;
        box-shadow: 0px 39px 37px rgba(196, 196, 196, 0.25);
        border-radius: 30px;
        padding: 26px 41px;
        display: flex;
        align-items: center;
        &-img {
            margin-right: 30px;
        }

        &-text {
            span {
                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                font-size: 40px;
                line-height: 47px;                
                color: $mainColor;
            }
        }
    }
}

@media (max-width: 900px) {
    .changelog {
        &__content {
            max-width: 70%;
        }
    }
}

@media (max-width: 670px) {
    .changelog {
        &__content {
            padding: 26px 22px;
            max-width: 90%;
            &-img {
                width: 40%;
            }
            &-text {
                span {
                    font-size: 28px;
                    line-height: 32px;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .changelog {
        &__content {
            &-img {
                width: 30%;
            }
            
        }
    }
}

